:root{
    --colorPrimario: #4C7DFE;
    --colorSecundario: #A3BCFC;
    --blanco: #FFFFFF;
    --linearGradient: linear-gradient(142.22deg, #4C7DFE 21.83%, #003DDB 78.88%);
    --plomo:rgba(0, 0, 0, 0.5);

    /* Fuentes */
    --poppins: 'Poppins', sans-serif;

}

body{
    padding: 0;
    margin: 0;
    font-family: var(--poppins);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul,ol{
    padding: 0 !important;
    margin-top: 0 !important;
}

/* ====Header==== */

.header{
    display: flex;
    align-items: center; /*Horizontal*/
    justify-content: space-around; /*Vertical*/
    padding-top:30px;
}

.logo img{
    width: 63px;
}

.menu ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu li{
    margin-right: 65px;
}

.menu li:last-child{
    margin-right: 0;
}

.menu a{
    color: var(--plomo);
    font-size: 16px; /*tamaño de Fuente*/
    text-transform: capitalize; /*Mayusculas*/
}

.menu a:hover{
    color: black;
}

.close, .hamburger{
    display: none;
}

/* =====Fin Header==== */

/* ====Main==== */

main{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.main-descripcion{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 657px;
}

.main-descripcion h3{
    font-size: 28px;
    font-weight: 500;
    color: var(--colorPrimario);
}

.main-descripcion h1{
    font-size: 85px;
    font-weight: 600;
}

.main-descripcion p{
    font-size: 14px;
    font-weight: 400;
    color: var(--plomo);
}

.main-botones{
    width: 411px;
    display: flex;
    justify-content: space-between; /*Poner un espacio en medio*/
    align-items: center;
    margin-top: 26px;
}
.main-botones a:first-child{
    background-color: var(--colorPrimario);
    padding: 16px 24px;
    font-size: 20px;
    border-radius: 5px;
    color: var(--blanco);
}

.main-botones a:last-child{
    background-color: transparent;
    padding: 16px 24px;
    font-size: 20px;
    border: 2px solid var(--colorPrimario);
    border-radius: 5px;
    color: var(--colorPrimario);
}

.main-image img{
    width: 623px;
}

/* ======Final Main======== */


/* =====About Me===== */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-img img{
    width: 600px;
    border-radius: 5px;
}
.about-description{
    width: 480px;
    margin-left: 100px;
}
.about-description h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--colorPrimario);
}
.about-description h2{
    font-weight: 600;
    font-size: 50px;
    color: black;
}
.about-description p{
    font-size: 14px;
    font-weight: 400;
    color: var(--plomo);
}

/* =====Final sobre mi===== *
/* ======Portafolio===== */
.contenedor{
    max-width: 1024px;
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

.portafolio{

    margin: 60px 0px;
}
.cajaMain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.caja img{
    width: 100%;
}

/* ====Fin Portafolio==== */

/* Trabajo */
.trabajo{
    margin: 60px 0px;
    padding: 60px 55px;
    background-color: #F4F6F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.trabajo h1{
    font-weight: 600;
    font-size: 28px;
}


.trabajo-botones{
    margin: 0 !important;
}

/* =====Fin trabajo===== */


/* Servicio */

.servicio{
    margin: 60px 0px;
    background-color: #F4F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicio-img{
    width: 640px;
    height: 504px;
    background-image: url(../assets/me.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.servicio-descripcion{
    width: auto;
    padding: 99px 30px;
}
.servicio-descripcion h1{
    font-weight: 600;
    font-size: 40px;
}
.servicio-descripcion p{
    font-weight: 400;
    font-size: 18px;
    color: var(--plomo);
}
.servicio-descripcion h4{
    font-weight: 600;
    font-size: 20px;
}
.servicio-descripcion span{
    font-weight: 400;
    font-size: 14px;
    color: var(--plomo);
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 59px 130px;
    background-color: #F4F6F6;
}
footer div:first-child h1{
    font-weight: 600;
    font-size: 50px;
}
footer div:first-child h4{
    font-weight: 400;
    font-size: 20px;
}

footer div:last-child i{
    font-size: 24px;
    margin-right: 40px;
    color: var(--plomo);
}

footer a i:hover{
    color: var(--colorPrimario);
}